* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #9a1a88;
  --secondary-color: #dd670d;
  --bg-color: #efefef;
  --light-gray: #A59A9A;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px 10%;
  width: 85%;
  height: 100%;
  margin: auto;
  background-color: var(--bg-color);
}

article {
  max-width: 500px;
}

h1 {
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--primary-color);
}

form {
  text-align: center;
}

.wd {
  width: 100%;
}

input {
  padding: 5px;
  margin-bottom: 5px;
}

textarea {
  padding: 5px;
  resize: none;
}

input[type='submit'] {
  border: none;
  font-size: 1.5em;
  transition: 0.2s;
  color: #fff;
}

input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.8;
}

.add-note {
  background-color: var(--secondary-color);
}

.your-notes {
  padding-bottom: 100px;
}

.note {
  overflow-wrap: break-word;
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
}

button {
  margin-top: 10px;
  padding: 5px;
  border: none;
  transition: 0.2s;
  font-size: 1em;
  color: white;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.delete-note-btn {
  margin-right: 5px;
  background-color: var(--secondary-color);
}

.edit-note-btn {
  background-color: var(--primary-color)
}


input[type="submit"].save-change-note {
  font-size: 1em;
  background-color: var(--primary-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.modal-content {
  padding: 30px;
  margin: auto;
  max-width: 500px;
  background-color: #fefefe;
}

.close-btn {
  float: right;
  font-weight: bold;
  font-size: 28px;
  color: var(--light-gray);
}

.close-btn:hover {
  color: black;
  cursor: pointer;
}

