* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #9a1a88;
  --secondary-color: #dd670d;
  --bg-color: #efefef;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px 10%;
  width: 85%;
  height: 100%;
  margin: auto;
  background-color: var(--bg-color);
}

article {
  max-width: 500px;
}

h1 {
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--primary-color);
}

form {
  text-align: center;
}

.wd {
  width: 100%;
}

input {
  padding: 5px;
  margin-bottom: 5px;
}

textarea {
  padding: 5px;
  resize: none;
}

input[type='submit'] {
  border: none;
  font-size: 1.5em;
  transition: 0.2s;
  color: #fff;
}

input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.8;
}

.add-note {
  background-color: var(--secondary-color);
}

.yourNotes {
  padding-bottom: 100px;
}

.note {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
}

button {
  margin-top: 10px;
  padding: 5px;
  border: none;
  transition: 0.2s;
  font-size: 1em;
  color: white;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.delete-note {
  margin-right: 5px;
  background-color: var(--secondary-color);
}

.edit-note {
  background-color: var(--primary-color);
}

.cancel-edit {
  border: 1px solid rgb(165, 154, 154);
  font-size: 1.5em;
  color: rgb(165, 154, 154);
  background-color: white;
}

.cancel-edit:hover {
  border: 1px solid black;
  color: black;
}
